extends common/layout

block content
    .content
        .content__text
            p How Dreamshare works?
        .collage
            .collage__step1
                .redbutton
                    p STEP 1
                .bold_text
                    h2 Sed leo enim, condimentum
                .thin_text
                    span
                        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet
                        | facilisis.
            .collage__step2
                .redbutton
                    p STEP 2
                .bold_text
                    h2 Morbi velit risus
                .thin_text
                    span
                        | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor
                        | est.
            .collage__step3
                .redbutton
                    p STEP 3
                .bold_text
                    h2 Sed leo enim, condimentum
                .thin_text
                    span
                        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet
                        | facilisis.
    .content__text.partner-s
        p Meet a partner for your best holiday
    .partners_info
        .partners
            .partners__info1
                .photo(style='width: 120px; height: 120px;')
                h2 Bradley Hunter
                p Based in Chicago. I love playing tennis and loud music.
            .partners__info2
                .photo(style='width: 120px; height: 120px;')
                h2 Marie Bennett
                p Currently living in Colorado. Lover of art, languages and travelling.
            .partners__info3
                .photo(style='width: 120px; height: 120px;')
                h2 Diana Wells
                p
                    | Living in Athens, Greece. I love black and white classics, chillout music
                    br
                    |  and green tea.
            .partners__info4
                .photo(style='width: 120px; height: 120px;')
                h2 Christopher Pierce
                p
                    | Star Wars fanatic. I have a persistent enthusiasm to create
                    br
                    |  new things.
        .redbutton
            p
                | See other partners
    .content__text
        p Meet a partner for your best holiday
    .photo-content
        .first-column
            .photo-content__photoS1
                span Sports and Activis
            .photo-content__photoS2
                span Wellness and Health
            .photo-content__photoS3
                span
                    | Extreme Sports
                    br
                    |  and Expeditions
        .second-column
            .photo-content__photoS4
                span Games
            .photo-content__photoL1
                span Culture and Education
        .third-column
            .photo-content__photoL2
                span Enjomet and Relaxation
            .photo-content__photoS5
                span Travelling
    .content__text
        p Create your holiday activity
    .search-partners
        p Hi! What are your holiday interests?
        .search-partners__search
            input(type='search', placeholder='Enter your insterests')
            .redbutton
                p
                    | Search partners
