footer
    .th-titles
        span DREAMSHARE
        p Company
        p Partners
        .right
            .footer-design
                img(src='./images/footer-design.png', alt='')
                img(src='./images/footer.png', alt='')
    .flex-tr
        .tr-content
            p About
            p Contact
            p Press
            p Blog
            p Terms and Privacy
            p Help
