header
    .header-img
        .header
            a(href='#') DREAMSHARE
            ul
                li.buttons Log in
                li.buttons Sign up
        .hugecontent
            h2
                | SHARE YOUR
                br
                |  HOLIDAY DREAM
        .newcontent
            h3
                | And find the perfect partner to fullfill it
        .sss
            .redbutton
                p
                    | Find your holiday partner
